.job-board {
    padding: 1.25rem;
    width: 100%;
    max-width: 40rem;
    border-radius: 1.5rem;
    background: #3baf3f;
    border: 1px solid #000;
}

.job-board_top {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.job-board_headline {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    font-weight: 700;
    align-items: center;
}

.job-board_headline svg {
    color: white;
    height: 2rem;
    width: 2rem;
}

.job-board_description {
    width: 100%;
}

header {
    position: relative;
}

.tab-content {
    display: none;
}

.tab-content--active {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: 30rem;
    padding-right: 0.5rem;
    overflow-y: scroll;
}

*::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background: #1e5785;
    border-radius: 0.99rem;
}

*::-webkit-scrollbar-thumb {
    background: #dd5353;
    transition: all 0.2s ease-in-out;
    border-radius: 9.99rem;
}

*::-webkit-scrollbar-thumb:hover {
    background: #4cf257;
}

.tabs {
    position: relative;
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
    margin-bottom: 0.75rem;
    overflow-x: auto;
}

.tabs > a {
    position: relative;
    display: flex;
    text-decoration: none;
    padding: 0.5rem;
    white-space: nowrap;
    font-weight: 600;
    text-align: left;
    justify-content: start;
    color: #000;
    transition: all 0.2s ease-in-out;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #1e5785;
    color: #000;
    border-radius: 0.6rem;
}

.tabs>:not(.active):hover {
    color: #4cf257;
}

.tabs>.active {
    font-weight: 700;
    background: #4cf257;
    border: 1px solid #4cf257;
    color: white;
}

.job {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.75rem;
    min-width: 20rem;
    height: fit-content;
    padding: 1rem;
    opacity: 1;
    border-radius: 1rem;
    background: #463b3b;
}

.job_avatar {
    display: block;
    border-radius: 1rem;
    flex-grow: 0;
    height: 4rem;
    width: 4rem;
    object-fit: contain;
}

.job_main {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.job_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
}

.job_applicants {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #000;
}

.job_applicants img:nth-child(n+2) {
    margin-left: -0.75rem;
}

.job_applicant {
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #2ca5b0;
}

.job_name {
    font-weight: 700;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: space-between;
}

.job_company {
    font-size: 0.875rem;
    margin-bottom: 0.75em;
    color: #4cf257;
}

.job-board_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #000;
}

.job_location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.job_location img {
    height: 1.25rem;
    width: 1.25rem;
}

.job_bookmark {
    margin-left: auto;
    background: none;
    border: none;
}

.job_bookmark svg {
    height: 1.75rem;
    width: 1.75rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    stroke: #4cf257;
}

.job_bookmark svg:hover {
    fill: #4cf257;
}